@font-face{
    font-family: 'Arial Rounded Bold MT';
    src: url(Font/Arial\ Rounded\ Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial Rounded Bold MT';
  background-image: url(../IMG/Fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-align: center;
}

.ticketmaster {
  background: #3f56fc;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketmaster a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.ticketmaster a:hover {
  background-color: #ffffff;
  color: #3f56fc;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.ticketmaster img {
  height: 28px;
  margin: 0;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imagen-banner {
  height: 100%;
  width: 100%;            
  object-fit: cover;          
  object-position: center;   
  display: block;
}

@media (max-width: 992px) {
  .imagen-banner {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .imagen-banner {
    height: 200px;
  }
}

.beneficios {
  background: #9929bd;
  padding: 18px;
  font-weight: bold;
  text-align: center;
}

.beneficios h2 {
  font-size: 35px;
  font-family: 'Arial Rounded Bold MT';
}

.descuentos {
  font-size: 20px;
  max-width: 500px;
  margin: 30px auto;
}

.boletos {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

.bloque {
  margin-bottom: 60px;
}

.bloque h4 {
  background: #9929bd;
  display: inline-block;
  padding: 16px 40px;
  border-radius: 8px;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 22px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.venta {
  background: #a03585;
  padding: 16px;
  margin: 12px auto;
  width: 320px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

.fecha-boleto {
  font-size: 18px;
  margin-bottom: 15px;
  opacity: 0.95;
}

.mensaje {
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0 auto;
  padding: 50px 30px;
  width: 90%;
  max-width: 800px;
  border-radius: 100px 100px 0 0;
}

.mensaje h2 {
  font-family: "Bowlby One SC", 'Arial Rounded Bold MT';
  margin-bottom: 40px;
}

.mensaje p {
  margin-bottom: 25px;
}

.mensaje-img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 60px;
}

.footer{
  text-align: center;
  font-family: 'Arial Rounded Bold MT';
  font-size: 16px;
  color: #000000;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-img{
  width: 100%;
  display: block;
  margin: 0 auto 20px auto;
}

.footer p {
  margin-top: 30px;
  color: #ffffff;
  font-size: 15px;
}

footer::before {
  content: "";
  display: block;
  height: 2px;
  background: rgba(255,255,255,0.2);
  margin: 40px auto;
  width: 80%;
}
